* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* DISABLE OVER SCROLL */
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* DISABLE OVER SCROLL */
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  /* DISABLE HIGHLIGHTING */
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --first-color: #2a2a2a;
  --second-color: #19a9e5;
  --third-color: #ffd42d;
  --fourth-color: #000000;
  --fifth-color: #ffffff;
  --sixth-color: #999999;
}

.App {
  margin: 0 auto;
  width: 1200px;
}

@font-face {
  font-family: Montserrat-Light;
  src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: WebSymbols-Regular;
  src: url('./assets/fonts/WebSymbols-Regular.otf') format('opentype');
}

/* Navbar */

body {
  font-family: 'Montserrat-Light';
}

header {
  position: fixed;
  z-index: 3;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: var(--fifth-color);
}

header #wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--fifth-color);
}

header #wrapper #logo {
  display: none;
}

header #wrapper #logo img {
  width: 32px;
}

header #wrapper #title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header #wrapper #title img {
  margin: 0 10px;
  width: 32px;
}

header #wrapper #title p {
  vertical-align: 6px;
  text-decoration: none;
  font-family: 'Montserrat-Medium';
  font-size: larger;
  color: var(--first-color);
}

header #wrapper #menu-max {
  padding-right: 30px;
  /* margin: 0 auto; */
  /* float: right; */
  /* width: 55%; */
  height: 100%;
  /* margin-top: 14px; */
  text-align: right;
}

header #wrapper #menu-max ul {
  margin: 0 auto;
  height: 100%;
}

header #wrapper #menu-max ul li {
  display: inline-block;
  height: 100%;
  padding: 0 12px 0 12px;
  font-family: 'Montserrat-Medium';
  font-size: larger;
  cursor: pointer;
}

header #wrapper #menu-max ul li a {
  text-decoration: none;
  color: var(--fourth-color);
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

header #wrapper #menu-max ul li:hover {
  /* background: var(--first-color); */
  /* box-shadow: 0px 0px 4px #0000008f; */
}

header #wrapper #menu-max ul li:hover a {
  color: var(--second-color);
}

header #wrapper #menu-min {
  display: none;
}

nav#menu-min-options {
  float: left;
}

#shadow {
  position: fixed;
  z-index: 1;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 5px black;
}

#hidden {
  position: absolute;
  width: 100%;
  height: 8px;
  background: white;
  top: 50px;
  z-index: 2;
}

.hidden {
  margin-top: -80px;
  transition: 0.4s;
}

.show {
  margin-top: 50px;
  transition: 0.4s;
}

#hamburger-menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  header #wrapper {
    width: 100%;
  }
  header #wrapper #logo {
    display: flex;
    padding: 10px;
  }
  header #wrapper #title {
    text-align: center;
  }
  header #wrapper #title img {
    display: none;
  }
  header #wrapper #menu-max {
    display: none;
  }
  header #wrapper #menu-min {
    display: block;
  }
  header #wrapper #menu-min .MuiSvgIcon-root {
    margin-top: 8px;
    width: 80%;
    height: 33px;
  }
  nav#menu-min-options ul li {
    height: 30px;
    /* width: 76%; */
    background: var(--fifth-color);
    font-family: 'Montserrat-Medium';
    color: var(--fourth-color);
    /* text-shadow: 0px 0px 0.7px #333; */
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
    /* margin-bottom: 1px; */
    list-style: none;
    /* border-top: 1px solid;*/
  }
  nav#menu-min-options ul li a {
    text-decoration: none;
    color: black;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
  }
  nav#menu-min-options ul li:first-child {
    border-top: 1px solid #bbb;
  }
  nav#menu-min-options {
    clear: both;
    float: left;
    width: 100%;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 45%);
    background: var(--fifth-color);
    position: fixed;
    z-index: 2;
    top: 0;
  }

  #hamburger-menu {
    display: flex;
    width: 24px;
    height: 18px;
    margin: 15px 15px;
    position: relative;
    cursor: pointer;
  }

  #hamburger-menu span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 1;
    background-color: #000000;
    border-radius: 2px;
    pointer-events: none;
    transform: rotate(0deg);
    transition: 0.2s ease;
  }

  #hamburger-menu span:nth-child(1) {
    top: 0px;
  }

  #hamburger-menu span:nth-child(2),
  #hamburger-menu span:nth-child(3) {
    top: 50%;
  }

  #hamburger-menu span:nth-child(4) {
    top: 100%;
  }

  #hamburger-menu.open span:nth-child(1),
  #hamburger-menu.open span:nth-child(4) {
    top: 50%;
    width: 0%;
    left: 50%;
  }

  #hamburger-menu.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
}
